body {
    background: url("/src/images/cat-high-five.jpg");
    background-size: cover;
    background-position: center;
    font-family: Lato;
}

#content {
    padding-top: 25%;
    text-align: center;
}